body {
    background-color: #FEFEFE;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

h2, h3 {
    margin: 0;
}


/* ----- TOP NAV BAR ----- */

nav {
    padding: 0 15px;
    background-color: #FEFEFE;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    width: 8%;
}

.pageLinks {
    list-style: none;
    display: flex;
    margin: 0 20px;
    gap: 0 50px;
}

.pageLinks a {
    text-decoration: none;
    color: #1E1E1E;
}

.pageLinks li {
    color: #1E1E1E;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: relative;
}

.pageLinks li:hover,
.pageLinks li:focus {
    color: #121212;
}

.pageLinks li::after {
    content: '';
    position: absolute;
    left: -50%;
    bottom: -2px;
    height: 2px;
    width: 100%;

    background-color: #121212;
    opacity: 0;
    transform: translateX(50%) scaleX(0);
    transition: transform 0.3s, opacity 0.5s;

    pointer-events: none;
}

.pageLinks li:hover::after,
.pageLinks li:focus::after {
    opacity: 1;
    transform: translateX(50%) scaleX(1);
}


/* ----- MAIN PAGE HEADER ----- */

.splashScreenHeader {
    background-image: linear-gradient(354deg, rgba(0, 0, 0, 0) 11%, rgba(54, 13, 13, 0.7994047960981268) 82%),
        url("../drawables/splashscreenimage1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center; 
    height: 90vh;
    overflow: hidden;
}

.headerText {
    color: #FEFEFE;
    font-family: "League Spartan", sans-serif;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
}

.inquiryButton {
    background-color: #FF0103;
    padding: 25px 50px;
    border: none;
    border-radius: 50px;

    color: #FEFEFE;
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    font-weight: 400;
}


/* ----- PART TWO ----- */

.partTwo {
    height: 110vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.partTwoHeader {
    color: #3E0202;
    font-family: "League Spartan", sans-serif;
    font-size: 80px;
    font-weight: 800;
}

.partTwoSubtitle {
    color: #FF0103;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: 500;
}

.partTwoParagraph {
    color: #0E0C0C;
    font-family: "Poppins", sans-serif;
    font-size: 26px;
    font-weight: 400;
    margin: 5vh 0;
}

.galleryContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 5vh 2vw;
}

.imageSlider {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.imageSliderImage {
    margin: 2vh 1vh;
    width: calc(100%/3.5);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}

.imageSliderImage .firstImage {
    /* gradient left */
}

.imageSliderImage .secondImage {
    /* gradient right */
}

.navButton {
    color: white;
    background-color: rgb(0, 0, 0, 0.0001);
    border: none;
    padding: 0px;
    font-size: 100px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#prevButton {
  left: 7vw;
}

#nextButton {
  right: 7vw;
}


/* ----- PART THREE ----- */

.partThree {
    background-color: #FBE8DE;

    display: flex;
    height: 90vh;
    overflow: hidden;
}

.partThreeHeader {
    background-color: #FEFEFE;
    margin-top: 100px;
    padding: 40px;
    
    color: #3E0202;
    font-family: "League Spartan", sans-serif;
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    height: fit-content;
}

.calendarSection {
    position: absolute;
   
    width: 70vw;
    height: 65vh;
    min-height: fit-content;
    background-color: #511A19;
    margin-top: 230px;
    border-radius: 32px;

    display: flex;
    flex-direction: row;

    left: 50%;
    transform: translateX(-50%);
}

.calendar {
    justify-self: center;
    width: 100%;
    overflow: hidden;
}

.calendar ul {
    margin: 0;
    color: #FEFEFE;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-weight: 300;
}

.calendar .weeks {
    font-weight: 600;
}

.calendar ul li {
    position: relative;
    width: calc(100% / 7);
}

.monthYear {
    color: #FEFEFE;
    font-family: "League Spartan", sans-serif;
    padding: 30px;
    font-size: 70px;
    font-weight: 700;
}

.calendar .days li {
    cursor: pointer;
    margin-top: 5vh;
}

.calendar .days li::before {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.days li.inactive {
    color: #aaa;
}

.days li.active::before {
    z-index: -1;
    background-color: #FF0103;
}



/* ----- FOOTER ----- */

footer {
    background-color: #0E0C0C;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideA {
    margin-left: 20px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

footer p {
    width: max-content;

    color: #FFFFFF;
    font-size: 20px;
}

.footerlogo {
    width: 20%;
}

.sideB {
    margin-right: 20px;
    width: fit-content;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}


.sideB img {
    width: 8%;
    cursor: pointer;
}

.sideB img:hover {
    filter: invert(41%) sepia(100%) saturate(5472%) hue-rotate(358deg) brightness(101%) contrast(99%);
}


/* ----- MEDIA QUERIES ----- */

/* ----- 2560px ----- */
@media only screen and (min-width: 2560px) {
    .pageLinks li {
        font-size: 30px;
    }

    .headerText {
        font-size: 120px;
    }
    
    .inquiryButton {
        padding: 30px 66px;

        font-size: 50px;
    }

    .partTwoHeader {
        font-size: 100px;
    }
    
    .partTwoSubtitle {
        font-size: 60px;
    }
    
    .partTwoParagraph {
        font-size: 40px;
    }

    .calendar {
        padding: 45px;
    }
    
    .calendar ul {
        font-size: 28px;
    }

    .monthYear {
        font-size: 100px;
    }

    .sideA {
        margin-left: 150px;
    }

    footer p {
        font-size: 30px;
    }

    .sideB {
        margin-right: 150px;
        width: fit-content;
    }
}

/* ----- 1440px ----- */

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    .pageLinks li {
        font-size: 20px;
    }

    .headerText {
        font-size: 100px;
    }

    .inquiryButton {
        padding: 20px 36px;

        font-size: 30px;
    }

    .partTwoHeader {
        font-size: 80px;
    }

    .partTwoSubtitle {
        font-size: 40px;
    }

    .partTwoParagraph {
        font-size: 20px;
    }

    .partThreeHeader {
        margin-top: 80px;
        padding: 30px;

        font-size: 50px;
    }

    .calendarSection {
        margin-top: 160px;
    }

    .calendar {
        padding: 25px;
    }

    .calendar ul {
        font-size: 16px;
    }

    .calendar .days li::before {
        height: 30px;
        width: 30px;
    }
    

    .monthYear {
        padding: 14px;
        padding-bottom: 0;
        
        font-size: 60px;
    }

    .sideA {
        margin-left: 100px;
    }

    footer p {
        font-size: 20px;
    }

    .sideB {
        margin-right: 100px;
        width: fit-content;
    }

    .sideB img {
        width: 6%;
    }
}


/* ----- 1024px ----- */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .logo {
        width: 6%;
    }

    .pageLinks li {
        font-size: 16px;
    }

    .headerText {
        font-size: 75px;
    }

    .inquiryButton {
        padding: 18px 30px;

        font-size: 24px;
    }

    .partTwoHeader {
        font-size: 60px;
    }

    .partTwoSubtitle {
        font-size: 20px;
    }

    .partTwoParagraph {
        font-size: 16px;
    }

    .partThreeHeader {
        margin-top: 60px;
        padding: 30px;

        font-size: 50px;
    }

    .calendarSection {
        margin-top: 140px;
    }

    .calendar {
        padding: 20px;
    }

    .calendar ul {
        font-size: 12px;
    }

    .monthYear {
        padding: 14px;
        padding-bottom: 0;

        font-size: 40px;
    }

    .calendar .days li::before {
        height: 25px;
        width: 25px;
    }

    .sideA {
        margin-left: 80px;
    }

    footer p {
        font-size: 10px;
    }

    .sideB {
        margin-right: 80px;
        width: fit-content;
    }

    .sideB img {
        width: 6%;
    }
}

/* ----- 768px ----- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    nav a {
        font-size: 16px;
    }

    .headerText {
        font-size: 60px;
    }

    .inquiryButton {
        padding: 18px 30px;
        font-size: 24px;
    }

    .partTwoHeader {
        font-size: 60px;
    }

    .partTwoSubtitle {
        font-size: 20px;
    }

    .partTwoParagraph {
        font-size: 16px;
    }

    .partThreeHeader {
        margin-top: 60px;
        padding: 30px;

        font-size: 50px;
    }

    .calendarSection {
        margin-top: 140px;
    }

    .calendar {
        padding: 20px;
    }

    .calendar ul {
        font-size: 12px;
    }

    .monthYear {
        font-size: 40px;
    }

    .calendar .days li::before {
        height: 25px;
        width: 25px;
    }

    .landscapeImage {
        display: none;
    }

    .sideA {
        margin-left: 80px;
    }

    footer p {
        font-size: 10px;
    }

    .sideB {
        margin-right: 80px;
        width: fit-content;
    }

    .sideB img {
        width: 6%;
    }

}

@media only screen and (min-width: 425px) and (max-width: 767px) {
    
    nav {
        height: 8vh;
    }

    
    .pageLinks {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        right: -20px;
        background-color: #FFFFFF;
    }

    ul li {
        margin: 10px 0;
        margin-right: 50px;
    }


    .splashScreenHeader {
        width: 100vw;
    }

    .headerText {
        font-size: 45px;
    }

    .inquiryButton {
        padding: 18px 30px;
        font-size: 24px;
    }

    .partTwoHeader {
        font-size: 60px;
    }

    .partTwoSubtitle {
        font-size: 20px;
    }

    .partTwoParagraph {
        font-size: 16px;
    }

    .partThreeHeader {
        margin-top: 60px;
        padding: 30px;

        font-size: 50px;
    }

    .calendarSection {
        margin-top: 140px;
    }

    .calendar {
        padding: 20px;
    }

    .calendar ul {
        font-size: 12px;
    }

    .monthYear {
        font-size: 40px;
    }

    .calendar .days li::before {
        height: 25px;
        width: 25px;
    }

    .landscapeImage {
        display: none;
    }

    .sideA {
        margin-left: 80px;
    }

    footer p {
        font-size: 10px;
    }

    .sideB {
        margin-right: 80px;
        width: fit-content;
    }

    .sideB img {
        width: 6%;
    }
}


/* ----- 768px ----- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .logo {
        width: 8%;
    }

    .pageLinks li {
        font-size: 14px;
    }

    .headerText {
        font-size: 65px;
    }

    .inquiryButton {
        padding: 14px 25px;

        font-size: 20px;
    }

    .partTwoHeader {
        font-size: 55px;
    }

    .partTwoSubtitle {
        font-size: 18px;
    }

    .partTwoParagraph {
        font-size: 14px;
    }

    .partThreeHeader {
        margin-top: 40px;
        padding: 30px;

        font-size: 36px;
    }

    .calendarSection {
        margin-top: 110px;

        width: 75vw;
        height: 60vh;
    }

    .calendar {
        padding: 8px;
    }

    .calendar ul {
        font-size: 10px;
    }

    .monthYear {
        font-size: 32px;
    }

    .sideA {
        margin-left: 60px;
    }

    footer p {
        font-size: 6px;
    }

    .sideB {
        margin-right: 60px;
    }

    .sideB img {
        width: 6%;
    }
}