* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


/* ----- TOP NAV BAR ----- */

nav {
    padding: 0 15px;
    background-color: #FEFEFE;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.logo {
    width: 150px;
}

.pageLinks {
    list-style: none;
    display: flex;
    margin: 0 20px;
    gap: 0 50px;
}

.pageLinks a {
    text-decoration: none;
    color: #1E1E1E;
}

.pageLinks li {
    color: #1E1E1E;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: relative;
}

.pageLinks li:hover,
.pageLinks li:focus {
    color: #121212;
}

.pageLinks li::after {
    content: '';
    position: absolute;
    left: -50%;
    bottom: -2px;
    height: 2px;
    width: 100%;

    background-color: #121212;
    opacity: 0;
    transform: translateX(50%) scaleX(0);
    transition: transform 0.3s, opacity 0.5s;

    pointer-events: none;
}

.pageLinks li:hover::after,
.pageLinks li:focus::after {
    opacity: 1;
    transform: translateX(50%) scaleX(1);
}

.goback {
    width: 100%;
    padding: 10px 0;
    background-color: #3E0202;
}

.goback nav {
    margin: 0 30px;
    width: fit-content;
    gap: 20px;
    background-color: #3E0202;
    font-size: 20px;
}

.goback a {
    color: #CD4745;
    text-decoration: none;
    background-color: #3E0202;
}

.goback p {
    color: #FFFBF7;
    background-color: #3E0202;
}


/* ----- MAIN PAGE HEADER ---- */

.header {
    text-align: center;
    padding: 10% 0;
}

.header h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #3E0202;
}

.header p {
    margin: 0 auto;
    width: 50%;
    padding: 20px 0;
    font-size: 22px;
    color: #FF0103;

}

.backgroundimage {
    background-image: linear-gradient(354deg, rgba(0, 0, 0, 0) 11%, rgba(54, 13, 13, 0.7994047960981268) 82%),
        url("/drawables/image15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 80vh;
    position: relative;
}

.section1 {
    background-color:#FBE8DE;
    overflow: hidden;
    width: 80%;
    height: 45vw;
    display: flex;
    justify-content: center;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -400px;
}

/* change font size and padding */
aside {
    text-align: center;
    margin: 50px;
}

aside p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}
.one h2, 
.two h2 {
    margin-top: 20px;
    padding: 30px 0;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: bolder;
    color: #3E0202;
}

.section1 img {
    width: 45%;
}


/* ----- BACKGROUNDIMAGE2 ---- */

.backgroundimage2 {
    margin-bottom: -20%;
}
.backgroundimage2 img {
    width: 50%;
}

.section2 {
    display: flex;
    flex-direction: row;
    position: relative;
    transform: translateY(-125%);
    width: 90%;
    margin: 0 auto;
    gap: 5%;
    align-items: center;
}

.section2 img {
    width: 50vw;
}

.section2 p {
    text-align: center;
    font-size: 24px;
}


/* ----- BOXES DIV ---- */

.boxes {
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #FBE8DE;
    width: 40vh;
    height: 60vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-bottom: 10%;
}

.box img {
    margin: 50px 0;
    height: 20%;
    align-self: center;
}

.box1 {
    border-radius: 0 20px 20px 0;
}

.box2 {
    border-radius: 20px;
}

.box3 {
    border-radius: 20px 0 0 20px;
}

.box p {
    margin-top: 2vh;
    text-align: center;
    width: 80%;
    font-size: 18px;
    align-self: center;
}


/* ----- FOOTER ----- */

footer {
    background-color: #0E0C0C;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideA {
    margin-left: 20px;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

footer p {
    width: max-content;

    color: #FFFFFF;
    font-size: 20px;
}

.footerlogo {
    width: 20%;
}

.sideB {
    margin-right: 20px;

    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}


.sideB img {
    width: 8%;
    cursor: pointer;
}

.sideB img:hover {
    filter: invert(41%) sepia(100%) saturate(5472%) hue-rotate(358deg) brightness(101%) contrast(99%);
}

/* ----- MEDIA QUERIES ----- */

