* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}


/* ----- TOP NAV BAR ----- */

nav {
    padding: 0 15px;
    background-color: #FEFEFE;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.brandLogo {
    width: 10%;
}

.logo {
    width: 100%;
}

.pageLinks {
    list-style: none;
    display: flex;
    margin: 0 20px;
    gap: 0 50px;
}

.pageLinks a {
    text-decoration: none;
    color: #1E1E1E;
}

.pageLinks li {
    color: #1E1E1E;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    position: relative;
}

.pageLinks li:hover,
.pageLinks li:focus {
    color: #121212;
}

.pageLinks li::after {
    content: '';
    position: absolute;
    left: -50%;
    bottom: -2px;
    height: 2px;
    width: 100%;

    background-color: #121212;
    opacity: 0;
    transform: translateX(50%) scaleX(0);
    transition: transform 0.3s, opacity 0.5s;

    pointer-events: none;
}

.pageLinks li:hover::after,
.pageLinks li:focus::after {
    opacity: 1;
    transform: translateX(50%) scaleX(1);
}

/* ----- MENU BUTTON ----- */

.menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    display: none;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.menu .bar {
    height: 3px;
    width: 100%;
    background-color: #000000;
    border-radius: 10px;
}

/* ----- BACK SECTION ----- */

.goback {
    width: 100%;
    padding: 10px 0;
    background-color: #3E0202;
}

.goback nav {
    margin: 0 30px;
    width: fit-content;
    gap: 20px;
    background-color: #3E0202;
}

.goback a {
    color: #CD4745;
    text-decoration: none;
    background-color: #3E0202;
}

.goback p {
    color: #FFFBF7;
    background-color: #3E0202;
}


/* ----- MAIN PAGE HEADER ---- */

.header {
    text-align: center;
    padding: 10% 0;
}

.header h1 {
    font-family: "League Spartan", sans-serif;
    font-size: 80px;
    font-weight: 800;
    color: #3E0202;
}

.header p {
    margin: 0 auto;
    width: 50%;
    padding: 20px 0;
    font-size: 22px;
    color: #FF0103;

}

.backgroundimage {
    background-image: linear-gradient(354deg, rgba(0, 0, 0, 0) 11%, rgba(54, 13, 13, 0.7994047960981268) 82%),
        url("../drawables/image15.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 80vh;
    position: relative;
}

.section1 {
    background-color:#FBE8DE;
    overflow: hidden;
    width: 80%;
    height: 45vw;
    display: flex;
    justify-content: center;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -400px;
}

aside {
    padding: 200px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.one h2, 
.two h2 {
    padding: 30px 0;
    font-family: "League Spartan", sans-serif;
    font-size: 40px;
    font-weight: 600;
    color: #3E0202;
}

.one p,
.two p {
    width: 80%;
    margin: 0 auto;
    font-size: 20px;
}

.section1 img {
    width: 45%;
}


/* ----- BACKGROUNDIMAGE2 ---- */

.backgroundimage2 {
    margin-bottom: -20%;
}
.backgroundimage2 img {
    width: 50%;
}

.section2 {
    display: flex;
    flex-direction: row;
    position: relative;
    transform: translateY(-125%);
    width: 90%;
    margin: 0 auto;
    gap: 5%;
    align-items: center;
}

.section2 img {
    width: 50vw;
}

.section2 p {
    text-align: center;
    font-size: 30px;
    width: 40vw;
}


/* ----- BOXES DIV ---- */

.boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.box {
    background-color: #FBE8DE;
    width: 40vh;
    height: 60vh;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);

    display: flex;
    flex-direction: column;
    align-items: first baseline;
    margin-bottom: 10%;
}

.box img {
    margin: 50px 0;
    height: 20%;
    align-self: center;
}

.box1 {
    border-radius: 0 20px 20px 0;
}

.box2 {
    border-radius: 20px;
}

.box3 {
    border-radius: 20px 0 0 20px;
}

.box p {
    margin-top: 2vh;
    text-align: center;
    width: 20vw;
    font-size: 18px;
    align-self: center;
}


/* ----- FOOTER ----- */

footer {
    background-color: #0E0C0C;

    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideA {
    margin-left: 20px;
    width: 100%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

footer p {
    width: max-content;

    color: #FFFFFF;
    font-size: 20px;
}

.footerlogo {
    width: 20%;
}

.sideB {
    margin-right: 20px;
    width: fit-content;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}



.sideB img {
    width: 8%;
    cursor: pointer;
    width: 8%;
    cursor: pointer;
}

.sideB img:hover {
    filter: invert(41%) sepia(100%) saturate(5472%) hue-rotate(358deg) brightness(101%) contrast(99%);
}


/* ----- MEDIA QUERIES ----- */

/* ----- 2560px ----- */
@media only screen and (min-width: 2560px) {
   .pageLinks li {
        font-size: 30px;
    }

    .goback nav {
        font-size: 30px;
    }

    .header h1 {
        font-size: 150px;
    }

    .header p {
        font-size: 30px;
    }

    .one h2, 
    .two h2 {
        font-size: 80px;
    }

    .one p, 
    .two p {
        font-size: 34px;
    }

    .box p {
        font-size: 30px;
    }

    .sideA {
        margin-left: 150px;
    }

    footer p {
        font-size: 30px;
    }

    .sideB {
        margin-right: 150px;
    }
}

/* ----- 1440px ----- */

@media only screen and (min-width: 1440px) and (max-width: 2559px) {
    .pageLinks li {
        font-size: 20px;
    }

    .goback nav {
        font-size: 18px;
    }

    .header h1 {
        font-size: 100px;
    }

    .header p {
        font-size: 20px;
    }

    aside {
        padding: 100px 0;
    }

    .section2 p {
        font-size: 20px;
    }

    .sideA {
        margin-left: 80px;
    }
    
    footer p {
        font-size: 20px;
    }

    .sideB {
        margin-right: 80px;
    }

    .sideB img {
        width: 6%;
    }
}


/* ----- 1024px ----- */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .brandLogo {
        width: 8%;
    }

    .pageLinks li {
        font-size: 16px;
    }

    .goback nav {
        font-size: 16px;
    }

    .header h1 {
        font-size: 60px;
    }

    .header p {
        font-size: 14px;
    }

    aside {
        padding: 40px 0;
    }

    .one h2,
    .two h2 {
        font-size: 28px;
    }

    .one p,
    .two p {
        font-size: 16px;
    }
    
    .section2 p {
        font-size: 16px;
    }

    .box p {
        font-size: 16px;
    }

    .sideA {
        margin-left: 80px;
    }

    footer p {
        font-size: 10px;
    }

    .sideB {
        margin-right: 80px;
    }

    .sideB img {
        width: 6%;
    }
}


/* ----- 768px ----- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    .pageLinks li {
        font-size: 16px;
    }

    .goback nav {
        font-size: 16px;
    }

    .header h1 {
        font-size: 40px;
    }

    .header p {
        font-size: 12px;
    }

    aside {
        padding: 20px 0;
    }

    .one h2,
    .two h2 {
        font-size: 22px;
    }

    .one p,
    .two p {
        font-size: 12px;
    }

    .section2 p {
        font-size: 14px;
    }

    .box {
        width: 30vh;
    }

    .box p {
        font-size: 14px;
    }

    .sideA {
        margin-left: 60px;
    }

    footer p {
        font-size: 6px;
    }

    .sideB {
        margin-right: 60px;
    }

    .sideB img {
        width: 6%;
    }
}

/* ----- 425px ----- */

@media only screen and (min-width: 425px) and (max-width: 767px) {

    /* navbar */

    nav {
        height: 8vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandLogo {
        width: 15%;
        margin-top: 15px;
    }

    .links {
        flex-direction: column;
        background-color: #FFFFFF;
        position: absolute;
        top: 4.4rem;
        width: 100%;
        left: 0;
        height: 250px;
        display: none;
    }

    .links.active {
        display: flex;
        font-size: 16px;
    }

    .pageLinks {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 0;
        margin-top: 1rem;
    }

    .pageLinks a {
        font-size: 14px;
    }
    
    .menu {
        display: flex;
    }

    .goback nav {
        font-size: 16px;
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }

    /* body */

    .header {
        padding: 6rem 0;
    }

    .header h1 {
        font-size: 40px;
    }

    .header p {
        font-size: 12px;
        width: 80%;
    }

    .backgroundimage {
        height: 30vh;
    }

    /* section1 */

    .section1 {
        bottom: 80%;
        width: 95%;
        height: 40vh;
    }

    .section1 img {
        display: none;
    }

    aside {
        padding: 20px 0;
        align-self: center;
        gap: 30px;
    }

    .one h2,
    .two h2 {
        font-size: 22px;
        padding: 20px 0;
    }

    .one p,
    .two p {
        font-size: 12px;
    }

    /* section2 */

    .backgroundimage2 {
        margin-top: -60%;
    }
    .section2 p {
        font-size: 12px;
    }

    .boxes {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .box {
        width: 50vw;
        height: 30vh;
        border-radius: 20px;
    }

    .box img {
        margin: 20px 0;
    }

    .box p {
        font-size: 12px;
        width: 85%;
    }

    /* footer */

    footer {
        height: 80px;
    }

    footer p {
        font-size: 12px;
        text-align: left;
    }

    .sideA {
        margin-left: 20px;
    }

    .sideA img {
        width: 20%;
    }

    .sideB {
        margin-right: 20px;
        width: fit-content;
    }

    .sideB img {
        width: 10%;
    }
}

/* ----- 375px ----- */

@media only screen and (min-width: 376px) and (max-width: 425px) {

    /* navbar */

    nav {
        height: 8vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandLogo {
        width: 25%;
        margin-top: 15px;
    }

    .links {
        flex-direction: column;
        background-color: #FFFFFF;
        position: absolute;
        top: 4.4rem;
        width: 100%;
        left: 0;
        height: 250px;
        display: none;
    }

    .links.active {
        display: flex;
        font-size: 16px;
    }

    .pageLinks {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 0;
        margin-top: 1rem;
    }

    .pageLinks a {
        font-size: 14px;
    }
    
    .menu {
        display: flex;
    }

    .goback nav {
        font-size: 16px;
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }

    /* body */

    .header {
        padding: 6rem 0;
    }

    .header h1 {
        font-size: 40px;
    }

    .header p {
        font-size: 12px;
        width: 80%;
    }

    .backgroundimage {
        height: 30vh;
    }

    /* section1 */

    .section1 {
        bottom: 80%;
        width: 95%;
        height: 40vh;
    }

    .section1 img {
        display: none;
    }

    aside {
        padding: 20px 0;
        align-self: center;
        gap: 30px;
    }

    .one h2,
    .two h2 {
        font-size: 22px;
        padding: 20px 0;
    }

    .one p,
    .two p {
        font-size: 12px;
    }

    /* section2 */

    .backgroundimage2 {
        margin-top: -60%;
    }
    .section2 p {
        font-size: 12px;
    }

    .boxes {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .box {
        width: 50vw;
        height: 30vh;
        border-radius: 20px;
    }

    .box img {
        margin: 20px 0;
    }

    .box p {
        font-size: 12px;
        width: 85%;
    }

    /* footer */

    footer {
        height: 80px;
    }

    footer p {
        font-size: 8px;
        text-align: left;
    }

    .sideA {
        margin-left: 20px;
    }

    .sideA img {
        width: 40px;
    }

    .sideB {
        margin-right: 20px;
        width: fit-content;
    }

    .sideB img {
        width: 16%;
    }
}

/* ----- 375px below ----- */

@media only screen and (max-width: 375px) {

    /* navbar */

    nav {
        height: 8vh;
        flex-direction: column;
        align-items: flex-start;
    }

    .brandLogo {
        width: 25%;
        margin-top: 15px;
    }

    .links {
        flex-direction: column;
        background-color: #FFFFFF;
        position: absolute;
        top: 4.4rem;
        width: 100%;
        left: 0;
        height: 250px;
        display: none;
    }

    .links.active {
        display: flex;
        font-size: 16px;
    }

    .pageLinks {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-left: 0;
        margin-top: 1rem;
    }

    .pageLinks a {
        font-size: 14px;
    }
    
    .menu {
        display: flex;
    }

    .goback nav {
        font-size: 16px;
        flex-direction: row;
        gap: 30px;
        margin: 0 auto;
        justify-content: space-around;
        align-items: center;
    }

    /* body */

    .header {
        padding: 6rem 0;
    }

    .header h1 {
        font-size: 40px;
    }

    .header p {
        font-size: 12px;
        width: 80%;
    }

    .backgroundimage {
        height: 30vh;
    }

    /* section1 */

    .section1 {
        bottom: 80%;
        width: 95%;
        height: 40vh;
    }

    .section1 img {
        display: none;
    }

    aside {
        padding: 20px 0;
        align-self: center;
        gap: 30px;
    }

    .one h2,
    .two h2 {
        font-size: 22px;
        padding: 20px 0;
    }

    .one p,
    .two p {
        font-size: 12px;
    }

    /* section2 */

    .backgroundimage2 {
        margin-top: -60%;
    }
    .section2 p {
        font-size: 12px;
    }

    .boxes {
        width: 80%;
        flex-direction: column;
        margin: 0 auto;
    }

    .box {
        width: 50vw;
        height: 30vh;
        border-radius: 20px;
    }

    .box img {
        margin: 20px 0;
    }

    .box p {
        font-size: 12px;
        width: 85%;
    }

    /* footer */

    footer {
        height: 80px;
    }

    footer p {
        font-size: 6px;
        text-align: left;
    }

    .sideA {
        margin-left: 20px;
    }

    .sideA img {
        width: 30px;
    }

    .sideB {
        margin-right: 20px;
        width: fit-content;
    }

    .sideB img {
        width: 16%;
    }
}